.media {
  display: flex;
  align-items: center;
  width: 100%;
  a {
    text-align: right;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
  i {
    margin-left: 5px;
    margin-right: 20px;
  }
  i.youtube {
    color: red;
  }
  i.facebook {
    color: rgb(73, 73, 248);
    margin-right: 30px;
    margin-left: 10px;
  }
  i.instagram {
    color: rgb(2, 113, 128);
    margin-right: 25px;
  }
  p {
    font-weight: bold;
    font-size: 18px;
  }
}
