.media {
  display: flex;
  align-items: center;
  width: 100%;
  i {
    margin-left: 5px;
    margin-right: 20px;
  }
  i.youtube {
    color: red;
  }
  i.facebook {
    color: rgb(73, 73, 248);
  }
  i.instagram {
    color: rgb(2, 113, 128);
  }
  p {
    font-weight: bold;
    font-size: 18px;
  }
}
