@import "../../variables.scss";

.body-container {
  background-color: white;
  width: 100%;
}

.text-block {
  padding: 50px;
  display: block;
  text-align: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin: 0 auto;

  .text-content-wrapper {
    margin: 0 auto;
  }

  .text-block-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    .block {
      padding: 35px 0px;
      width: 100%;
      h3 {
        margin: 0;
        margin-top: 35px;
        margin-bottom: 10px;
        font-size: 19px;
      }

      p {
        // margin: 10px 20px 15px 20px;
        font-size: 15px;
      }

      @media screen and (max-width: $break-blocks) {
        width: 100%;
      }
    }

    @media screen and (max-width: $break-blocks) {
      grid-template-columns: 1fr;
      margin: 0 12px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  p {
    padding: 0 20px;
    font-size: 17px;
    line-height: 1.85;
    text-align: justify;
    @media screen and (max-width: $break-large) {
      margin: 0 30px;
    }
  }

  @media screen and (max-width: $break-large) {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.circled-icon {
  border: 2px solid rgba(39, 39, 39, 0.137);
  padding: 40px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.034);
  border-radius: 225px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}
.dark {
  background-color: #333;
  color: #ddd;
  h2 {
    color: #fff;
  }
}

.light {
  background-color: white;
  color: #777;
  h2 {
    color: black;
  }
  h3 {
    font-family: "Montserrat", sans-serif;
    color: rgb(70, 62, 62);
  }
}

.img1 {
  background-image: url("../../images/choir1.jpg");
  min-height: 750px;
}

.img2 {
  background-image: url("../../images/lobby.jpg");
  min-height: 750px;
  opacity: 0.85;
}

.img3 {
  background-image: url("../../images/worship1.jpg");
  min-height: 750px;
  opacity: 0.97;
}

.img4 {
  background-image: url("../../images/choir5.jpg");
  min-height: 750px;
}

.para-image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
