.body-container {
  background-color: white;
}

.text-block {
  padding: 50px;
  display: block;
  text-align: center;
  align-items: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  h2 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  p {
    margin: 0 78px;
    font-size: 17px;
    line-height: 1.85;
    text-align: justify;
  }
}

.dark {
  background-color: #333;
  color: #ddd;
  h2 {
    color: #fff;
  }
}

.light {
  background-color: white;

  h2 {
    color: black;
  }
  p {
    color: #777;
  }
}

.img1 {
  background-image: url("../../images/choir1.jpg");
  min-height: 750px;
}

.img2 {
  background-image: url("../../images/lobby.jpg");
  min-height: 750px;
  opacity: 0.85;
}

.para-image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
