@import "../../variables.scss";

.landing {
  // height: 87vh;
  min-height: 1050px;
  width: 100%;
  //background-image: url("../../images/landing3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: 0.95;

  .landing-content-wrapper {
    margin: 0 50px;
    @media screen and (max-width: $break-banner-title) {
      margin: 0 10px;
    }
  }

  .landing-content {
    display: flex;
    margin: 25px auto;
    justify-content: center;
    align-items: center;

    .vertical-content {
      :nth-child(1) {
        margin-top: 0px;
      }

      @media screen and (max-width: $break-large) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
      }
    }

    @media screen and (max-width: $break-large) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
    }
  }
}
