.landing {
  height: 100vh;
  width: 100%;
  background-image: url("../../images/lobby.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  .landing-content {
    display: flex;
    margin: 50px;
  }
}
