@import "../../variables.scss";

nav {
  background-color: white;
  padding: 10px 0px;
  width: 100%;

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    width: 100px;
  }

  .links {
    display: flex;

    a {
      text-decoration: none;
      color: black;
      margin-left: 35px;
      font-size: 16px;
      &:after {
        content: "";
        display: block;
        margin: auto;
        margin-top: 5px;
        height: 2px;
        width: 0px;
        background-color: black;
        transition: width 0.22s ease;
      }
      &:hover:after {
        width: 98%;
      }
    }

    @media screen and (max-width: $break-large) {
      display: none;
    }
  }
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
